* {
    box-sizing: border-box;
}

html {
    font-size: 8px;
}

body {
    font-size: 2rem;
    font-family: sans-serif;
    text-align: center;
    color: $c-white;
    background-color: $c-black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5;
}